<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="responsive.css">

</head>
<style>

</style>
<body>


<div class="card  mx-auto">

    <h2 class="d-flex justify-content-center align-items-center">{{title21}}</h2>

    {{#addIssue}}
    <form class="mt-5" action="/submitIssue" enctype="multipart/form-data" method="post" >

    {{/addIssue}}
    {{#edit}}
    <form class="mt-5" action="/updateIssue">
        <input value="{{dataForm.id}}" name="issueId"  hidden="hidden"/>
    {{/edit}}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <label for="issueCategory" class="form-label">Category</label>
                <select class="form-select" id="issueCategory" name="issueCategory" aria-label="issueCategory">
                    <option selected>Select Category</option>
                    <option value="1">Transit</option>
                    <option value="2">Roads</option>
                    <option value="3">Waste</option>
                    <option value="4">Water</option>
                    <option value="5">Electricity</option>
                    <option value="6">Parking</option>

                </select>
            </div>
            <div class="col">
                <label for="issueTitle" class="form-label">Title</label>
                <input type="text" name="issueTitle" class="form-control" id="issueTitle"
                       value="{{dataForm.issueTitle}}" required>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col">
                <label for="issueDescription" class="form-label">Briefly Explain The Issue</label>
                <textarea name="issueDescription" class="form-control h-100" id="issueDescription"
                          required>{{dataForm.issueDescription}}</textarea>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="issuePhoto" class="form-label">Upload Image</label>
                <!--     Loading the Image of base64 back to input file           #-->
                <input type="file" name="issuePhoto" accept="image/*" class="form-control"
                       id="issuePhoto">
<!--                <input id="issuePhotoBase64" name="issuePhotoBase64" type="text">-->
            </div>
            <div class="col" hidden>
                <label for="issueUser" class="form-label">User</label>
                <input type="text" name="issueUser" class="form-control" value="{{userId}}"
                       id="issueUser">
            </div>

        </div>
        {{#edit}}
            <button type="submit" class="btn btn-primary mt-5 w-100">Update</button>

        {{/edit}}
        {{#addIssue}}
            <button type="submit" class="btn btn-primary mt-5 w-100">Submit</button>

        {{/addIssue}}
    </div>
    <script>
        document.getElementById('issuePhoto').addEventListener('change', function(event) {

            const file = this.files[0];
            const reader = new FileReader();
            console.log(file);
            console.log(reader);

            reader.onload = function(e) {
                document.getElementById('issuePhotoBase64').value = e.target.result;



            }
            reader.readAsDataURL(file);
        });
    </script>
</form>
</form>
    <script>
        // document.getElementById('issueDescription').addEventListener('change', function(event) {
        //     alert("Image Uploaded Successfully");
        //     const file = this.files[0];
        //     const reader = new FileReader();
        //     reader.onload = function(e) {
        //         document.getElementById('issuePhotoBase64').value = e.target.result;
        //     }
        // });


        let categorySelect = {{dataForm.issueCategoryId}};
        let categorySelectElement = document.getElementById('issueCategory');

        categorySelectElement.value = categorySelect;

    </script>

</div>
</body>
</html>