<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<style>
    body{
        background: #e0e0e0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    /* From Uiverse.io by Codewithvinay */
    .card {

        border-radius: 50px;
        background: #e0e0e0;
        box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
        /* adding my own design to make it appropriate for my page and bootstrap classes that I feel is appropriate */
        padding: 50px;
        width: 30%;
        height: 70%;
    }
</style>

<div class="card  mx-auto">
    <h2 class="d-flex justify-content-center align-items-center">{{dataForm.title21}}</h2>

        {{#addIssue}}
        <form class="mt-5" action="/submitIssue">

        {{/addIssue}}
        {{#edit}}
            <form class="mt-5" action="/updateIssue">
            <input value="{{dataForm.id}}" name="issueId" hidden="hidden" >
        {{/edit}}
            <div class="container">
                <div class="row mt-3">
                    <div class="col">
                        <label for="issueCategory" class="form-label">Category</label>
                        <select class="form-select" id="issueCategory" name="issueCategory" aria-label="issueCategory">
                            <option selected>Select Category</option>
                            <option value="1">Transit</option>
                            <option value="2">Roads</option>
                            <option value="3">Waste</option>
                            <option value="4">Water</option>
                            <option value="5">Electricity</option>
                            <option value="6">Parking</option>

                        </select>
                    </div>
                    <div class="col">
                        <label for="issueTitle" class="form-label">Title</label>
                        <input type="text" name="issueTitle" class="form-control" id="issueTitle" value="{{dataForm.issueTitle}}" required>
                    </div>
                </div>
                <div class="row mt-3 mb-5">
                    <div class="col">
                        <label for="issueDescription" class="form-label">Briefly Explain The Issue</label>
                        <textarea  name="issueDescription"  class="form-control h-100" id="issueDescription" required>{{dataForm.issueDescription}}</textarea>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="isssueImage" class="form-label">Upload Image</label>
                        <input type="file"  name="isssueImage" value="{{dataForm.issuePhoto}}" class="form-control" id="isssueImage">
                    </div>
                    <div class="col" hidden>
                        <label for="issueUser" class="form-label">User</label>
                        <input type="text"  name="issueUser" class="form-control" value="{{dataForm.issueUserId}}" id="issueUser">
                    </div>

                </div>
                {{#edit}}
                    <button type="submit" class="btn btn-primary mt-5 w-100">Update</button>

                {{/edit}}
                {{#addIssue}}
                    <button type="submit" class="btn btn-primary mt-5 w-100">Submit</button>

                {{/addIssue}}
            </div>
        </form>

    <script>
        let categorySelect = {{dataForm.issueCategoryId}};
        let categorySelectElement = document.getElementById('issueCategory');

        categorySelectElement.value = categorySelect;

    </script>

</div>
</body>
</html>